.main-box{
    display: flex;
    justify-content: center;
}
.sub-box{
    border: 2px solid;
    width: 250px;
    height: 300px;
    padding: 20px 10px;
    margin: 50px;
    font-family:Sans-serif;
    color: #078080;
    font-size: 15px;

}
.text-align-center{
    text-align: center;
}
.production
{
    display: flex;
    justify-content: center;
   
}
.sub-production{
    border: 2px double;
    width: 250px;
    height: auto;
    padding: 20px;
    margin: 30px;
    font-family:"Edu AU VIC WA NT Hand", cursive;
    color: #078080;
}
.contact{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;


}
.logo{
    height: 50px;
    padding:5px 50px 0px 100px;
    margin:0px;
}
.form{
    border-radius: 6px;
    height: 10px;
    width: 200px;
    padding: 10px;
    margin: 15px;
     color: #078080;;
}
.sub-box1{
    border: 2px solid;
    width: 400px;
    height: 450px;
    padding: 10px;
    margin: 50px;
    color: #078080;
}
.button{
    height: 30px;
    padding: 5px;
    margin:10px 20px 30px 70px;
    width: 100px;
    border-radius: 10px;
    background-color:#eeb065;
    color:#000066;
    border: 1px solid #232323;
    }
.img{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}
.layer{
    display: flex;
    flex-direction:row;
}
.sub-layer{
    border: 1px solid;
    height: 450px;
    width: 600px;
    padding: 10px;
    margin: 10px;
    color: #078080;
    font-size: 17px;
    font-family: "Gupter", serif;
}
.body{
    background-color:#fff3e6;
}
.hedline{
    color:#f45d48;
    font-size: 25px;
}
.font{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#800040;
}